/* Font ID import here*/

/* Wildcard to override browser defaults? */

/* Generic body styles */

/* Header */
#logo {

}

#logo-icon{

}

#menu {

}

/* Main */

#benefits {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-color: red;
    border-style: solid;
}

#benefits-image {
    width:  300px;
    height: 300px;
    object-fit: cover;
    border-radius: 50%;
}

#beginner-tips {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-color: red;
    border-style: solid;
}

.image-container {
    border-color: blue;
    border-style: solid;
}

.content-container {
    border-color: blue;
    border-style: solid;
}

/* Footer */

/* Media Queries */

/* Media query for mobile devices */