/* Font ID import here*/

/* Wildcard to override browser defaults? */

/* Generic body styles */

/* Header */
#logo {

}

#logo-icon{

}

#menu {

}

/* Main */

#benefits {
    border-color: red;
}

#beginner-tips {
    border-color: red;
}

.image-container {
    border-color: blue;
}

.content-container {
    border-color: blue;
}