/* Font ID import here*/

/* Wildcard to override browser defaults? */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Placeholder styling for flex */
section {
    border-color: red;
    border-style: solid;
    margin: 2em 0;
    padding: 1em;
}

section div {
    border-color: blue;
    border-style: solid;
}

/* Generic body styles */
body {
    display: flex;
    min-height: 100vh;
}

h1, h2, h3, h4 {
    text-align: center;
}

/* Header */

header {
    background-color: #E3E3E3;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: inherit;
}

#logo {
    color: #34482A;
    text-align: left;
}

#logo-icon{
    color: #34482A;
}

#menu {
    color: #34482A;
    font-size: 110%;
    letter-spacing: 2px;
    list-style-type: none;
}

/* Menu styles with manu-toggle */

nav {
    position: absolute;
    background-color: #e3e3e3;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #34482A;
    display: none;
    top: 100%;
}

#menu-toggle:checked~nav {
    display: block;
}

#menu-toggle {
    display: none;
}

.menu-toggle-label {
    font-size: 2rem;
}

.active {
    border-bottom: 1px solid #34482A;
}

/* Main */
main {
    margin-top: 75px;
}

#benefits {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#benefits-image {
    width:  300px;
    height: 300px;
    object-fit: cover;
    border-radius: 50%;
}

#beginner-tips {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.image-container {
    
}

.content-container {
}

/* Footer */

/* Media Queries */

/* Media query: tablets and larger (768px +)  */

@media screen and (min-width: 768px) {
    /* Header */
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }

    #menu {
        display: flex;
    }

    #menu > li {
        padding-left: 1rem;
    }

    .menu-toggle-label {
        display: none;
    }
}

/* Media query: small laptops and larger (992px +) Hover effect */

@media screen and (min-width: 992px) {
    /* Header */
    #menu a:hover {
        border-bottom: 1px solid #34482A;
    }
}